plotly
nbformat
nltk
spacy # spaCy is an open-source software library for advanced natural language processing
gensim # Gensim is an open-source library for unsupervised topic modeling and natural languag